#grid-container{
    height: 979px;
    width: 980px;
     border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}



.cell 
{
    height: 60px;
    width: 60px;
    margin: 0%;  
    border-right: 1px solid black ;
    border-bottom: 1px solid black;
}