body{
    padding: 0;
}




#grid-container{
 border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
}
.change{
    background:green;

}


.cell 
{   margin: 0%;
    padding: 0%;
    height: 60px;
    width: 60px; 
    border-right: 1px solid red ;
    border-bottom: 1px solid yellow;
    //flex: auto;
}