body{
    padding: 0;
}




#grid-container{
 border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}
.change{
    background:green;

}


.cell 
{   margin: 0%;
    padding: 0%;
    border-right: 1px solid red ;
    border-bottom: 1px solid yellow;
    //flex: auto;
    //flex: auto; 
}